<aside>
	<div class="logo">
		<img src="{{url('public/images/logo.png')}}" alt="Tamghrabit Logo">
	</div>

	<nav>
		<p class="menu-title">MENU PRINCIPAL</p>
		<div class="menu-group">
			<a href="" class="menu-item">
				<i class="fa-solid fa-house"></i>
				Dashboard
			</a>
			<a href="{{ url(route('explorer')) }}" class="menu-item {{ current_uri == 'create_campagne' ? 'active' : '' }}">
				<i class="fa-solid fa-magnifying-glass"></i>
				Explorer
			</a>
			<a href="{{ url(route('campagne.create')) }}" class="menu-item">
				<i class="fa-solid fa-plus-circle"></i>
				Créer une Campagne
			</a>
		</div>
	</nav>

	<nav>
		<p class="menu-title">MON ACTIVITÉ</p>
		<div class="menu-group">
			<a href="" class="menu-item">
				<i class="fa-solid fa-bullhorn"></i>
				Mes Campagnes
			</a>
			<a href="" class="menu-item">
				<i class="fa-solid fa-hand-holding-dollar"></i>
				Mes Dons
			</a>
			<a href="" class="menu-item">
				<i class="fa-solid fa-calculator"></i>
				Calculateur Zakat
			</a>
		</div>
	</nav>

	<nav>
		<p class="menu-title">COMPTE & SUPPORT</p>
		<div class="menu-group">
			<a href="{{ url(route('profile.edit')) }}" class="menu-item {{ current_uri == 'edit_profile' ? 'active' : '' }}">
				<i class="fa-solid fa-address-book"></i>
				Mon Profil
			</a>
			<a href="" class="menu-item">
				<i class="fa-solid fa-gear"></i>
				Paramètres
			</a>
			<a href="" class="menu-item">
				<i class="fa-solid fa-circle-question"></i>
				Aide / Support
			</a>
			<a href="" class="menu-item logout">
				<i class="fa-solid fa-right-from-bracket"></i>
				Déconnexion
			</a>
		</div>
	</nav>
</aside>
